body{
    box-sizing: border-box;
    background-color: gray;
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-image: url("Images/download\ \(56\).jpeg");
  }
  
#object{
    position: fixed;/*This indicates that the position of the html element with the id of "object"
    will be located based on the "top", "left", "right", and "bottom" properties*/
    top:50vh;/*#Object is 50% away from the top of the screen*/
    left:50vw;/*Object is 50% away from the left of the screen*/
}


.hidden{
    display: none;/*Any html element with the class of "hidden", cannot be seen by the user*/
}

  

